{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium definieert een aantal termen om Cultuurparticipatie te beschrijven.</p>
<p>Een Activiteit is een Actie die bewust wordt uitgevoerd door een Agent met de bedoeling een cultureel, sociaal of materieel effect teweeg te brengen. Deze Agent noemen we in dit applicatieprofiel een Realisator die een Persoon of Organisatie kan zijn.</p>
<p>Aan een Activiteit kan deelgenomen worden door een Participant. Deze relatie noemen we een Deelname. Hieraan kan dan een Transactie en Ticket worden gekoppeld. Ook kan er Feedback worden gegeven over de Deelname.</p>
<p>Voor de Participant aan een Activiteit kan een generiek of persoonlijk ParticipantProfiel worden uitgewisseld waarin zaken rond Cultuurdeelname, Algemene en SociodemografischeKenmerken worden vervat.</p>
<p>De Realisator biedt de Activiteit aan en kan Promotie voeren via een Kanaal. Deze klasse kan verder gespecifieerd worden naar Organisator.</p>
<p>Over de Activiteit is er informatie rond welk Ding wordt uitgevoerd en door welke Uitvoerder maar ook rond de Prijsinfo en Boekinginfo.</p>
<p>Het vocabularium herbruikt termen uit het 
vocabularium <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organisatie</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-event.html">OSLO-CultuureelErfgoed:Event</a> en 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-CultureelErfgoed:Object</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">OSLO-Persoon</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Consent</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">OSLO-Subsidie</a> en 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO-FeitelijkeVereniging</a>.
</p>
<p>Een toepassing van het vocabularium is te vinden in het applicatieprofiel OSLO-Doelgericht Digitaal Transformeren.</p>
{% endblock %}

{% block status %}
{% endblock %}
