{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel laat toe om cultuurparticipatie, de Deelname aan een Activiteit te beschrijven en kan gebruikt worden voor bijvoorbeeld het project Doelgericht Digitaal Transformeren.</p>
<p>Het applicatieprofiel herbruikt termen en de manier waarop ze worden toegepast uit het Applicatieprofiel OSLO-Organisatie, OSLO-CultuureelErfgoed:Event en OSLO-CultureelErfgoed:Object.</p>
<p>Een meer formele beschrijving van de termen is te vinden in het vocabularium OSLO-Cultuurparticipatie.</p>
{% endblock %}

{% block status %}
<p>Dit applicatieprofiel heeft status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/KandidaatStandaard">Kandidaat Standaard</a> en werd uitgegeven op 2022-04-28.</p>
<p>Informatie over het gevolgde proces en de beslissingen om tot deze specificatie te komen zijn beschikbaar in het <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">standaardenregister</a>.</p>
{% endblock %}
