{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel laat toe om cultuurparticipatie, de Deelname aan een Activiteit te beschrijven en kadert in het grotere programma Doelgericht Digitaal Transformeren.</p>
<p>Het applicatieprofiel herbruikt termen en de manier waarop ze worden toegepast uit het Applicatieprofiel OSLO-Organisatie, OSLO-CultuureelErfgoed:Event en OSLO-CultureelErfgoed:Object.</p>
<p>Een meer formele beschrijving van de termen is te vinden in het vocabularium OSLO-Cultuurparticipatie.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
